
:root{
    --bell: #ff8f00;
    --sidebar: #051e34;
    --jumbotron: #1b72e8;
    --ticket: #165bba;
}

/* header */

header{
    height: 80px;
}

header .logo-mobile{
    height: 50px;
}

header .input-group > *{
    background-color: lightgray;
}

header .input-group input{
    font-weight: 500;
}

header i.fa-bell{
    color: var(--bell);
}

/* sidebar */

#sidebar{
    background-color: var(--sidebar);
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 80px);
    width: 70px;
}

/* main */

main{
    width: calc(100vw - 70px);
    height: calc(100vh - 80px);
}

    /* ? jumbo */

#jumbotron{
    background-color: var(--jumbotron);
}

/* main-content */

    /* ? section classes */

#classes tbody hr{
    margin-left: 10px;
}

#classes tbody i{
    cursor: pointer;
    margin-left: 10px;
}

#classes table .table-img{
    height: 30px;
    border-radius: 50%;
}

#classes table th, #classes table td{
    text-align: center;
}

    /* ? section stats */

#stats .col-main .stats-hr{
    color: gray;
    margin: 7px 0;
}

    /* ? section FAQ */

#FAQ #FAQ-accordion .accordion-header{
    background-color: transparent;
}

/* utils */

.ticket{
    background-color: var(--ticket);
    border-radius: 20px;
    padding: 4px 10px 5px 10px;
    font-size: 0.7rem;
}

.ticket .fa-plus{
    font-size: 14px;
}

.col-text{
    padding: 0px 10px;
}

.cursor{
    cursor: pointer;
}

